<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- For Google -->
  <meta name="description" content="The pictograms of experience-japan.info, made easy to use for your website. Provided by Yann Klein." />
  <meta name="keywords" content="icon, japan, pictogram, website, font" />

  <meta name="author" content="Yann Klein" />
  <meta name="copyright" content="MIT" />
  <meta name="application-name" content="japan-pictograms" />

  <!-- For Facebook -->
  <meta property="og:title" content="Japan Pictograms on your Website" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://yannklein.github.io/japan-pictograms/logo.png" />
  <meta property="og:url" content="https://yannklein.github.io/japan-pictograms/" />
  <meta property="og:description" content="The pictograms of experience-japan.info, made easy to use for your website. Provided by Yann Klein." />

  <!-- For Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Japan Pictograms on your Website" />
  <meta name="twitter:description" content="The pictograms of experience-japan.info, made easy to use for your website. Provided by Yann Klein." />
  <meta name="twitter:image" content="https://yannklein.github.io/japan-pictograms/logo.png" />
  <link rel="stylesheet" href="japan-pictograms.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="icon" href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⛩</text></svg>'>
  <title>Japan Pictograms on your Website</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LPLYXF6Z8H"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LPLYXF6Z8H');
  </script>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="p-5 mb-5 border-bottom d-flex align-items-center justify-content-center">
          <span class="jpic jpic-jinja" style="font-size: 64px"></span>
          <h1 class="m-0 ms-4">Japan Pictograms on your Website</h1>
        </div>
        <p>The pictograms of <a class="link-secondary text-decoration-none" href="https://experience-japan.info/en/">Experience Japan Pictograms</a>, made easy to use for your website.<br/> Provided by <a href="https://www.yannklein.me/" class="link-secondary text-decoration-none" >Yann Klein</a>.</p>
        <h2>Summary</h2>
        <div class="list-group w-25 mb-5">
          <a href="#setup" class="list-group-item list-group-item-action">1. Setup</a>
          <a href="#usage" class="list-group-item list-group-item-action">2. Usage</a>
          <a href="#size" class="list-group-item list-group-item-action"> 2. a. Sizes</a>
          <a href="#pictos" class="list-group-item list-group-item-action">2. b. Pictograms</a>
        </div>
        <h2 id="setup">Setup</h2>
        <p>Add this <code>link</code> to your HTML file <code>&lt;head&gt;</code>:</p>
          <pre class="border rounded p-3"><code>&ltlink rel="stylesheet" href="https://yannklein.github.io/japan-pictograms/japan-pictograms.css"&gt;</code></pre>
        <h2 id="usage">Usage</h2>
        <p>Add icons following this pattern, refer to the below table for the NAME:</p>
          <pre class="border rounded p-3"><code>&ltspan class="jpic jpic-NAME"&gt&lt/span&gt;</code></pre>

        <h3 id="size" >Size and color</h3>
        <p>Japan Pictograms is a font, use normal CSS font properties to change its size, color and other font characteristics.</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Sample code</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>&lt;span class="jpic jpic-ise-jingu" style="font-size: 64px; color: red"&gt;&lt;/span&gt;</code></span></td>
              <td><span class="jpic jpic-ise-jingu" style="font-size: 64px; color: red"></span></td>
            </tr>
          </tbody>
        </table>

        <h3 id="pictos" >Pictograms</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">NAME</th>
              <th scope="col">Sample code</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            <% pictos.each do |picto| -%>
            <tr>
              <td><%= picto[:name] %></td>
              <td><code>&lt;span class="jpic jpic-<%= picto[:name] -%>"&gt;&lt;/span&gt;</code></span></td>
              <td><span class="jpic jpic-<%= picto[:name] -%>" style="font-size: 32px;"></span></td>
            </tr>
            <% end -%>
          </tbody>
        </table>
      <p class="my-5">Find more about me on my  <a href="https://www.yannklein.me/" class="link-secondary text-decoration-none" >portfolio website</a>.</p>
      </div>
    </div>
  </div>
</body>
</html>
