<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="japan-pictograms.css">
  <title>Document</title>
</head>
<body>
  <% pictos_hash[:pictos].each do |picto| %>
    <div>
      <h2><%= picto[:name] %></h2>
      <% ['xs', 'sm', 'md', 'lg', 'xl'].each do |size| %>
        <span class="jpic-<%= size %> jpic-<%= picto[:name] %>"></span>
      <% end %>
    </div>
  <% end %>
  <span class="jpic-md jpic-takushi"></span>
  <span class="jpic-lg jpic-takushi"></span>
  <span class="jpic-xl jpic-takushi"></span>
  <span class="jpic-xs jpic-takushi"></span>
</body>
</html>
