@font-face {
  font-family: 'Japan Pictograms';
  src:  url('fonts/fonticon.eot?12ugzt');
  src:  url('fonts/fonticon.eot?12ugzt#iefix') format('embedded-opentype'),
    url('fonts/fonticon.ttf?12ugzt') format('truetype'),
    url('fonts/fonticon.woff?12ugzt') format('woff'),
    url('fonts/fonticon.svg?12ugzt#fonticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.jpic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Japan Pictograms' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.jpic-akihabara:before { content: ''; }
.jpic-anpan:before { content: ''; }
.jpic-asakusa:before { content: ''; }
.jpic-ashi-yu:before { content: ''; }
.jpic-ba:before { content: ''; }
.jpic-baiten:before { content: ''; }
.jpic-basu:before { content: ''; }
.jpic-bebika:before { content: ''; }
.jpic-bebikea-rumu:before { content: ''; }
.jpic-bichi:before { content: ''; }
.jpic-bin:before { content: ''; }
.jpic-biru:before { content: ''; }
.jpic-biyoshitsu:before { content: ''; }
.jpic-bokujo:before { content: ''; }
.jpic-bonsai:before { content: ''; }
.jpic-budokan:before { content: ''; }
.jpic-byoin:before { content: ''; }
.jpic-chikatetsu:before { content: ''; }
.jpic-chuson-ji:before { content: ''; }
.jpic-daisen-kofun:before { content: ''; }
.jpic-danshi-toire:before { content: ''; }
.jpic-densha:before { content: ''; }
.jpic-denwa:before { content: ''; }
.jpic-dobutsuen:before { content: ''; }
.jpic-domu:before { content: ''; }
.jpic-dosoku:before { content: ''; }
.jpic-ebi:before { content: ''; }
.jpic-erebeta:before { content: ''; }
.jpic-esukareta01:before { content: ''; }
.jpic-esukareta02:before { content: ''; }
.jpic-esukareta03:before { content: ''; }
.jpic-fuasuto-fudo:before { content: ''; }
.jpic-fueri:before { content: ''; }
.jpic-fugu:before { content: ''; }
.jpic-fuji-san:before { content: ''; }
.jpic-funen:before { content: ''; }
.jpic-fuoto-supotto:before { content: ''; }
.jpic-furasshu-kinshi:before { content: ''; }
.jpic-fushimi-inari:before { content: ''; }
.jpic-gasorin:before { content: ''; }
.jpic-genbaku-domu:before { content: ''; }
.jpic-genseirin:before { content: ''; }
.jpic-ginko:before { content: ''; }
.jpic-ginza:before { content: ''; }
.jpic-haiboru:before { content: ''; }
.jpic-hambaga:before { content: ''; }
.jpic-hanabi:before { content: ''; }
.jpic-hanami:before { content: ''; }
.jpic-harajuku:before { content: ''; }
.jpic-hashiruna:before { content: ''; }
.jpic-heiwa-kinen:before { content: ''; }
.jpic-herikoputa:before { content: ''; }
.jpic-hidarigawa:before { content: ''; }
.jpic-hijoguchi:before { content: ''; }
.jpic-hikoki:before { content: ''; }
.jpic-himeji-jo:before { content: ''; }
.jpic-hinode:before { content: ''; }
.jpic-hinoiri:before { content: ''; }
.jpic-horyu-ji:before { content: ''; }
.jpic-hoteru:before { content: ''; }
.jpic-hyakkaten:before { content: ''; }
.jpic-ikebana:before { content: ''; }
.jpic-infuomeshon:before { content: ''; }
.jpic-inryosui:before { content: ''; }
.jpic-inshoku-kinshi:before { content: ''; }
.jpic-ise-ebi:before { content: ''; }
.jpic-ise-jingu:before { content: ''; }
.jpic-itsukushima:before { content: ''; }
.jpic-iyahon-gaido:before { content: ''; }
.jpic-izakaya:before { content: ''; }
.jpic-izumo-taisha:before { content: ''; }
.jpic-ji-in:before { content: ''; }
.jpic-jidohambaiki:before { content: ''; }
.jpic-jimu:before { content: ''; }
.jpic-jinja:before { content: ''; }
.jpic-jinrikisha:before { content: ''; }
.jpic-jitensha-kinshi:before { content: ''; }
.jpic-joba:before { content: ''; }
.jpic-joshi-toire:before { content: ''; }
.jpic-juden-kona:before { content: ''; }
.jpic-kabuki:before { content: ''; }
.jpic-kaidan:before { content: ''; }
.jpic-kaikei:before { content: ''; }
.jpic-kaiseki-ryori:before { content: ''; }
.jpic-kaiten-zushi:before { content: ''; }
.jpic-kaki-genkin:before { content: ''; }
.jpic-kakigori:before { content: ''; }
.jpic-kamakura:before { content: ''; }
.jpic-kan:before { content: ''; }
.jpic-kanen:before { content: ''; }
.jpic-kani:before { content: ''; }
.jpic-kanko-ressha:before { content: ''; }
.jpic-kapuseru:before { content: ''; }
.jpic-karaoke:before { content: ''; }
.jpic-kare-raisu:before { content: ''; }
.jpic-keiburuka:before { content: ''; }
.jpic-keisatsu:before { content: ''; }
.jpic-kikyu:before { content: ''; }
.jpic-kimono:before { content: ''; }
.jpic-kin-en:before { content: ''; }
.jpic-kippu-uriba:before { content: ''; }
.jpic-kissaten:before { content: ''; }
.jpic-kiyomizu:before { content: ''; }
.jpic-koban:before { content: ''; }
.jpic-kodo:before { content: ''; }
.jpic-kofun:before { content: ''; }
.jpic-kogen:before { content: ''; }
.jpic-koin-rokka:before { content: ''; }
.jpic-kokugikan:before { content: ''; }
.jpic-kokuritsu-koen:before { content: ''; }
.jpic-kokuritsu-kyogijo:before { content: ''; }
.jpic-kokyo:before { content: ''; }
.jpic-kombu:before { content: ''; }
.jpic-konbini:before { content: ''; }
.jpic-koshien:before { content: ''; }
.jpic-kosho:before { content: ''; }
.jpic-kosokudoro:before { content: ''; }
.jpic-koyo:before { content: ''; }
.jpic-kuraimingu:before { content: ''; }
.jpic-kuroku:before { content: ''; }
.jpic-kuzu:before { content: ''; }
.jpic-kyampu:before { content: ''; }
.jpic-kyasshu:before { content: ''; }
.jpic-kyusokujo:before { content: ''; }
.jpic-machiawase:before { content: ''; }
.jpic-machiawase-sitsu:before { content: ''; }
.jpic-maguro:before { content: ''; }
.jpic-maiko:before { content: ''; }
.jpic-mashu-ko:before { content: ''; }
.jpic-matcha:before { content: ''; }
.jpic-matsuri:before { content: ''; }
.jpic-matsushima:before { content: ''; }
.jpic-meiji-jingu:before { content: ''; }
.jpic-melon-pan:before { content: ''; }
.jpic-migigawa:before { content: ''; }
.jpic-minato:before { content: ''; }
.jpic-minshuku:before { content: ''; }
.jpic-misoshiru:before { content: ''; }
.jpic-mokko:before { content: ''; }
.jpic-monoreru:before { content: ''; }
.jpic-musen-ran:before { content: ''; }
.jpic-myujiamu:before { content: ''; }
.jpic-nabe:before { content: ''; }
.jpic-nara-koen:before { content: ''; }
.jpic-natto:before { content: ''; }
.jpic-nihon-teien:before { content: ''; }
.jpic-nihonshu:before { content: ''; }
.jpic-ninja:before { content: ''; }
.jpic-ninsanpu:before { content: ''; }
.jpic-noh:before { content: ''; }
.jpic-nyuyoji:before { content: ''; }
.jpic-oden:before { content: ''; }
.jpic-okonomiyaki:before { content: ''; }
.jpic-onigiri:before { content: ''; }
.jpic-onsen:before { content: ''; }
.jpic-orimono:before { content: ''; }
.jpic-oshizukani:before { content: ''; }
.jpic-oura-tenshudo:before { content: ''; }
.jpic-pakingu:before { content: ''; }
.jpic-pasuta:before { content: ''; }
.jpic-petto-kinshi:before { content: ''; }
.jpic-pettobotoru:before { content: ''; }
.jpic-rafuteingu:before { content: ''; }
.jpic-ramen:before { content: ''; }
.jpic-rentaka:before { content: ''; }
.jpic-rentasaikuru:before { content: ''; }
.jpic-resutoran:before { content: ''; }
.jpic-rirakuzeshon:before { content: ''; }
.jpic-risaikuru:before { content: ''; }
.jpic-rokuon-ji:before { content: ''; }
.jpic-romen-densha:before { content: ''; }
.jpic-ropuei:before { content: ''; }
.jpic-roten:before { content: ''; }
.jpic-ryokan:before { content: ''; }
.jpic-ryokinjo:before { content: ''; }
.jpic-ryuhyo:before { content: ''; }
.jpic-sabisueria:before { content: ''; }
.jpic-sado:before { content: ''; }
.jpic-safuin:before { content: ''; }
.jpic-saikuringu:before { content: ''; }
.jpic-sakyu:before { content: ''; }
.jpic-samurai:before { content: ''; }
.jpic-sashimi:before { content: ''; }
.jpic-satsuei-kinshi:before { content: ''; }
